## 描述性统计的概述与计算：

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5], [np.nan, np.nan], [0.75,-1.3]],
                 index = list('abcd'),
                 columns = ['one', 'two'])

In [4]:
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [5]:
df.sum()

one    9.25
two   -5.80
dtype: float64

In [6]:
df.sum(axis=1)

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [7]:
df.mean(axis=1, skipna=False)

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

通过禁用skipna来实现不排除NA值

归约

In [9]:
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [10]:
df.idxmax()

one    b
two    d
dtype: object

In [11]:
df.idxmin()

one    d
two    b
dtype: object

积类型方法

In [12]:
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [13]:
df.cumsum()

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

describe

In [14]:
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [16]:
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

非数值型

In [17]:
obj= pd.Series(list('aabc')*4)

In [18]:
obj

0     a
1     a
2     b
3     c
4     a
5     a
6     b
7     c
8     a
9     a
10    b
11    c
12    a
13    a
14    b
15    c
dtype: object

In [19]:
obj.describe()

count     16
unique     3
top        a
freq       8
dtype: object

### 相关性和协方差

In [20]:
import pandas_datareader.data as web

In [21]:
all_data = {
    ticker:web.get_data_yahoo(ticker)
    for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']
}

In [27]:
all_data

{'AAPL':                   High         Low        Open       Close       Volume  \
 Date
 2009-12-31   30.478571   30.080000   30.447144   30.104286   88102700.0
 2010-01-04   30.642857   30.340000   30.490000   30.572857  123432400.0
 2010-01-05   30.798571   30.464285   30.657143   30.625713  150476200.0
 2010-01-06   30.747143   30.107143   30.625713   30.138571  138040000.0
 2010-01-07   30.285715   29.864286   30.250000   30.082857  119282800.0
 2010-01-08   30.285715   29.865715   30.042856   30.282858  111902700.0
 2010-01-11   30.428572   29.778572   30.400000   30.015715  115557400.0
 2010-01-12   29.967142   29.488571   29.884285   29.674286  148614900.0
 2010-01-13   30.132856   29.157143   29.695715   30.092857  151473000.0
 2010-01-14   30.065714   29.860001   30.015715   29.918571  108223500.0
 2010-01-15   30.228571   29.410000   30.132856   29.418571  148516900.0
 2010-01-19   30.741428   29.605715   29.761429   30.719999  182501900.0
 2010-01-20   30.792856   29.928572   30.701429   30.247143  153038200.0
 2010-01-21   30.472857   29.601429   30.297142   29.724285  152038600.0
 2010-01-22   29.642857   28.165714   29.540001   28.250000  220441900.0
 2010-01-25   29.242857   28.598572   28.930000   29.010000  266424900.0
 2010-01-26   30.530001   28.940001   29.421429   29.420000  466777500.0
 2010-01-27   30.082857   28.504286   29.549999   29.697144  430642100.0
 2010-01-28   29.357143   28.385714   29.275715   28.469999  293375600.0
 2010-01-29   28.885714   27.178572   28.725714   27.437143  311488100.0
 2010-02-01   28.000000   27.328571   27.481428   27.818571  187469100.0
 2010-02-02   28.045713   27.625713   27.987143   27.980000  174585600.0
 2010-02-03   28.600000   27.774286   27.881428   28.461428  153832000.0
 2010-02-04   28.338572   27.367144   28.104286   27.435715  189413000.0
 2010-02-05   28.000000   27.264286   27.518572   27.922857  212576700.0
 2010-02-08   28.268572   27.714285   27.955715   27.731428  119567700.0
 2010-02-09   28.214285   27.821428   28.059999   28.027143  158221700.0
 2010-02-10   28.085714   27.751429   27.984285   27.874287   92590400.0
 2010-02-11   28.535715   27.722857   27.840000   28.381428  137586400.0
 2010-02-12   28.805714   27.928572   28.301428   28.625713  163867200.0
 ...                ...         ...         ...         ...          ...
 2018-10-22  223.360001  218.940002  219.789993  220.649994   28792100.0
 2018-10-23  223.250000  214.699997  215.830002  222.729996   38767800.0
 2018-10-24  224.229996  214.539993  222.600006  215.089996   40925500.0
 2018-10-25  221.380005  216.750000  217.710007  219.800003   29855800.0
 2018-10-26  220.190002  212.669998  215.899994  216.300003   47258400.0
 2018-10-29  219.690002  206.089996  219.190002  212.240005   45935500.0
 2018-10-30  215.179993  209.270004  211.149994  213.300003   36660000.0
 2018-10-31  220.449997  216.619995  216.880005  218.860001   38358900.0
 2018-11-01  222.360001  216.809998  219.050003  222.220001   58323200.0
 2018-11-02  213.649994  205.429993  209.550003  207.479996   91328700.0
 2018-11-05  204.389999  198.169998  204.300003  201.589996   66163700.0
 2018-11-06  204.720001  201.690002  201.919998  203.770004   31882900.0
 2018-11-07  210.059998  204.130005  205.970001  209.949997   33424400.0
 2018-11-08  210.119995  206.750000  209.979996  208.490005   25362600.0
 2018-11-09  206.009995  202.250000  205.550003  204.470001   34365800.0
 2018-11-12  199.850006  193.789993  199.000000  194.169998   51135500.0
 2018-11-13  197.179993  191.449997  191.630005  192.229996   46882900.0
 2018-11-14  194.479996  185.929993  193.899994  186.800003   60801000.0
 2018-11-15  191.970001  186.899994  188.389999  191.410004   46478800.0
 2018-11-16  194.970001  189.460007  190.500000  193.529999   36928300.0
 2018-11-19  190.699997  184.990005  190.000000  185.860001   41925300.0
 2018-11-20  181.470001  175.509995  178.369995  176.979996   67825200.0
 2018-11-21  180.270004  176.550003  179.729996  176.779999   31124200.0
 2018-11-23  176.600006  172.100006  174.940002  172.289993   23624000.0
 2018-11-26  174.949997  170.259995  174.240005  174.619995   44998500.0
 2018-11-27  174.770004  170.880005  171.509995  174.240005   41387400.0
 2018-11-28  181.289993  174.929993  176.729996  180.940002   46062500.0
 2018-11-29  182.800003  177.699997  182.660004  179.550003   41770000.0
 2018-11-30  180.330002  177.029999  180.289993  178.580002   39531500.0
 2018-12-03  184.940002  181.210007  184.460007  184.820007   40653600.0

              Adj Close
 Date
 2009-12-31   20.159719
 2010-01-04   20.473503
 2010-01-05   20.508902
 2010-01-06   20.182680
 2010-01-07   20.145369
 2010-01-08   20.279305
 2010-01-11   20.100410
 2010-01-12   19.871763
 2010-01-13   20.152065
 2010-01-14   20.035355
 2010-01-15   19.700523
 2010-01-19   20.572037
 2010-01-20   20.255390
 2010-01-21   19.905249
 2010-01-22   18.917973
 2010-01-25   19.426920
 2010-01-26   19.701479
 2010-01-27   19.887072
 2010-01-28   19.065300
 2010-01-29   18.373636
 2010-02-01   18.629066
 2010-02-02   18.737165
 2010-02-03   19.059557
 2010-02-04   18.372683
 2010-02-05   18.698900
 2010-02-08   18.570709
 2010-02-09   18.768732
 2010-02-10   18.666370
 2010-02-11   19.005989
 2010-02-12   19.169575
 ...                ...
 2018-10-22  219.882782
 2018-10-23  221.955551
 2018-10-24  214.342117
 2018-10-25  219.035751
 2018-10-26  215.547913
 2018-10-29  211.502045
 2018-10-30  212.558350
 2018-10-31  218.099014
 2018-11-01  221.447327
 2018-11-02  206.758575
 2018-11-05  200.889053
 2018-11-06  203.061493
 2018-11-07  209.219986
 2018-11-08  208.490005
 2018-11-09  204.470001
 2018-11-12  194.169998
 2018-11-13  192.229996
 2018-11-14  186.800003
 2018-11-15  191.410004
 2018-11-16  193.529999
 2018-11-19  185.860001
 2018-11-20  176.979996
 2018-11-21  176.779999
 2018-11-23  172.289993
 2018-11-26  174.619995
 2018-11-27  174.240005
 2018-11-28  180.940002
 2018-11-29  179.550003
 2018-11-30  178.580002
 2018-12-03  184.820007

 [2247 rows x 6 columns],
 'GOOG':                    High          Low         Open        Close      Volume  \
 Date
 2009-12-31   310.679321   307.986847   310.356445   307.986847   2455400.0
 2010-01-04   312.721039   310.103088   311.449310   311.349976   3937800.0
 2010-01-05   311.891449   308.761810   311.563568   309.978882   6048500.0
 2010-01-06   310.907837   301.220856   310.907837   302.164703   8009000.0
 2010-01-07   303.029083   294.410156   302.731018   295.130463  12912000.0
 2010-01-08   299.675903   292.651581   294.087250   299.064880   9509900.0
 2010-01-11   300.276978   295.100647   300.276978   298.612823  14519600.0
 2010-01-12   297.147339   292.100159   296.893982   293.332153   9769600.0
 2010-01-13   292.288940   285.095734   286.382355   291.648102  13077600.0
 2010-01-14   295.180145   289.521942   290.063416   293.019196   8535300.0
 2010-01-15   294.862213   287.152344   294.752930   288.126007  10939600.0
 2010-01-19   293.302338   286.283020   288.722137   291.911407   8689500.0
 2010-01-20   291.096710   285.786224   291.096710   288.329681   6543600.0
 2010-01-21   291.513977   284.276062   289.834900   289.606384  12697400.0
 2010-01-22   283.456390   265.701874   280.426086   273.227905  13689200.0
 2010-01-25   273.163330   266.024780   271.528961   268.255249   8897200.0
 2010-01-26   273.024231   266.412231   267.246826   269.457428   8767600.0
 2010-01-27   272.055542   265.925415   268.886169   269.298462   7980200.0
 2010-01-28   271.732635   263.585632   270.485748   265.418701   6500100.0
 2010-01-29   268.747070   261.106750   267.505127   263.257751   8334700.0
 2010-02-01   266.173798   263.436584   265.572693   264.787811   4530800.0
 2010-02-02   265.751556   262.100281   265.751556   263.843964   8245600.0
 2010-02-03   269.298462   262.408295   262.626862   268.662598   6037000.0
 2010-02-04   267.261719   261.081909   266.764954   261.687958   6799200.0
 2010-02-05   265.026245   259.541931   262.492737   263.928406   6353000.0
 2010-02-08   269.248810   264.047638   264.529480   265.011353   5423500.0
 2010-02-09   269.015320   265.806183   268.026733   266.486755   5675700.0
 2010-02-10   267.157410   262.140045   265.309418   265.498199   5383700.0
 2010-02-11   268.498688   263.039185   264.936829   266.466888   4851300.0
 2010-02-12   266.839478   263.535950   264.762970   264.837494   4589000.0
 ...                 ...          ...          ...          ...         ...
 2018-10-22  1112.229980  1091.000000  1103.060059  1101.160034   1514200.0
 2018-10-23  1107.890015  1070.000000  1080.890015  1103.689941   1848700.0
 2018-10-24  1106.119995  1048.739990  1104.250000  1050.709961   1982400.0
 2018-10-25  1110.979980  1069.550049  1071.790039  1095.569946   2545800.0
 2018-10-26  1106.530029  1034.089966  1037.030029  1071.469971   4187600.0
 2018-10-29  1097.040039   995.830017  1082.469971  1020.080017   3880700.0
 2018-10-30  1037.489990  1000.750000  1008.460022  1036.209961   3212700.0
 2018-10-31  1091.939941  1057.000000  1059.810059  1076.770020   2529800.0
 2018-11-01  1083.974976  1062.459961  1075.800049  1070.000000   1482000.0
 2018-11-02  1082.974976  1054.609985  1073.729980  1057.790039   1839000.0
 2018-11-05  1058.469971  1021.239990  1055.000000  1040.089966   2441400.0
 2018-11-06  1064.344971  1038.069946  1039.479980  1055.810059   1233300.0
 2018-11-07  1095.459961  1065.900024  1069.000000  1093.390015   2058400.0
 2018-11-08  1093.270020  1072.204956  1091.380005  1082.400024   1488200.0
 2018-11-09  1075.560059  1053.109985  1073.989990  1066.150024   1343200.0
 2018-11-12  1062.119995  1031.000000  1061.390015  1038.630005   1471800.0
 2018-11-13  1056.604980  1031.150024  1043.290039  1036.050049   1513700.0
 2018-11-14  1054.563965  1031.000000  1050.000000  1043.660034   1565900.0
 2018-11-15  1071.849976  1031.780029  1044.709961  1064.709961   1836100.0
 2018-11-16  1067.000000  1048.979980  1059.410034  1061.489990   1658100.0
 2018-11-19  1060.790039  1016.260010  1057.199951  1020.000000   1858600.0
 2018-11-20  1031.739990   996.020020  1000.000000  1025.760010   2449100.0
 2018-11-21  1048.560059  1033.469971  1036.760010  1037.609985   1534300.0
 2018-11-23  1037.589966  1022.398987  1030.000000  1023.880005    691500.0
 2018-11-26  1049.310059  1033.910034  1038.349976  1048.619995   1942800.0
 2018-11-27  1057.579956  1038.489990  1041.000000  1044.410034   1803200.0
 2018-11-28  1086.839966  1035.760010  1048.760010  1086.229980   2475400.0
 2018-11-29  1094.244995  1076.000000  1076.079956  1088.300049   1468900.0
 2018-11-30  1095.569946  1077.880005  1089.069946  1094.430054   2580200.0
 2018-12-03  1124.650024  1103.665039  1123.140015  1106.430054   1926400.0

               Adj Close
 Date
 2009-12-31   307.986847
 2010-01-04   311.349976
 2010-01-05   309.978882
 2010-01-06   302.164703
 2010-01-07   295.130463
 2010-01-08   299.064880
 2010-01-11   298.612823
 2010-01-12   293.332153
 2010-01-13   291.648102
 2010-01-14   293.019196
 2010-01-15   288.126007
 2010-01-19   291.911407
 2010-01-20   288.329681
 2010-01-21   289.606384
 2010-01-22   273.227905
 2010-01-25   268.255249
 2010-01-26   269.457428
 2010-01-27   269.298462
 2010-01-28   265.418701
 2010-01-29   263.257751
 2010-02-01   264.787811
 2010-02-02   263.843964
 2010-02-03   268.662598
 2010-02-04   261.687958
 2010-02-05   263.928406
 2010-02-08   265.011353
 2010-02-09   266.486755
 2010-02-10   265.498199
 2010-02-11   266.466888
 2010-02-12   264.837494
 ...                 ...
 2018-10-22  1101.160034
 2018-10-23  1103.689941
 2018-10-24  1050.709961
 2018-10-25  1095.569946
 2018-10-26  1071.469971
 2018-10-29  1020.080017
 2018-10-30  1036.209961
 2018-10-31  1076.770020
 2018-11-01  1070.000000
 2018-11-02  1057.790039
 2018-11-05  1040.089966
 2018-11-06  1055.810059
 2018-11-07  1093.390015
 2018-11-08  1082.400024
 2018-11-09  1066.150024
 2018-11-12  1038.630005
 2018-11-13  1036.050049
 2018-11-14  1043.660034
 2018-11-15  1064.709961
 2018-11-16  1061.489990
 2018-11-19  1020.000000
 2018-11-20  1025.760010
 2018-11-21  1037.609985
 2018-11-23  1023.880005
 2018-11-26  1048.619995
 2018-11-27  1044.410034
 2018-11-28  1086.229980
 2018-11-29  1088.300049
 2018-11-30  1094.430054
 2018-12-03  1106.430054

 [2247 rows x 6 columns],
 'IBM':                   High         Low        Open       Close      Volume  \
 Date
 2009-12-31  132.850006  130.750000  132.410004  130.899994   4223400.0
 2010-01-04  132.970001  130.850006  131.179993  132.449997   6155300.0
 2010-01-05  131.850006  130.100006  131.679993  130.850006   6841400.0
 2010-01-06  131.490005  129.809998  130.679993  130.000000   5605300.0
 2010-01-07  130.250000  128.910004  129.869995  129.550003   5840600.0
 2010-01-08  130.919998  129.050003  129.070007  130.850006   4197200.0
 2010-01-11  131.059998  128.669998  131.059998  129.479996   5730400.0
 2010-01-12  131.330002  129.000000  129.029999  130.509995   8081500.0
 2010-01-13  131.119995  129.160004  130.389999  130.229996   6455400.0
 2010-01-14  132.710007  129.910004  130.550003  132.309998   7111800.0
 2010-01-15  132.889999  131.089996  132.029999  131.779999   8494400.0
 2010-01-19  134.250000  131.559998  131.630005  134.139999  13916200.0
 2010-01-20  131.149994  128.949997  130.460007  130.250000  15197500.0
 2010-01-21  130.690002  128.059998  130.470001  129.000000   9608600.0
 2010-01-22  128.889999  125.370003  128.669998  125.500000  10088600.0
 2010-01-25  126.889999  125.709999  126.330002  126.120003   5738500.0
 2010-01-26  127.750000  125.410004  125.919998  125.750000   7135300.0
 2010-01-27  126.959999  125.040001  125.820000  126.330002   8719200.0
 2010-01-28  127.040001  123.050003  127.029999  123.750000   9622200.0
 2010-01-29  125.000000  121.900002  124.320000  122.389999  11571200.0
 2010-02-01  124.949997  122.779999  123.230003  124.669998   7242900.0
 2010-02-02  125.809998  123.949997  124.790001  125.529999   5899900.0
 2010-02-03  126.070000  125.070000  125.160004  125.660004   4177100.0
 2010-02-04  125.440002  122.900002  125.190002  123.000000   9126900.0
 2010-02-05  123.720001  121.830002  123.040001  123.519997   8617000.0
 2010-02-08  123.220001  121.739998  123.150002  121.879997   5718500.0
 2010-02-09  124.199997  122.459999  122.650002  123.209999   6044500.0
 2010-02-10  123.650002  122.209999  122.940002  122.809998   5219100.0
 2010-02-11  124.199997  122.059998  122.580002  123.730003   5089000.0
 2010-02-12  124.050003  121.610001  123.010002  124.000000   8017700.0
 ...                ...         ...         ...         ...         ...
 2018-10-22  130.440002  128.399994  129.580002  130.020004   5719500.0
 2018-10-23  131.899994  128.410004  129.020004  131.210007   6463600.0
 2018-10-24  131.690002  127.000000  131.169998  127.209999   5710300.0
 2018-10-25  127.790001  125.139999  127.250000  126.449997  10304300.0
 2018-10-26  125.779999  123.709999  125.209999  124.790001   8767000.0
 2018-10-29  123.949997  118.300003  119.339996  119.639999  20450400.0
 2018-10-30  121.500000  115.150002  120.480003  115.400002  21458600.0
 2018-10-31  116.500000  114.089996  116.489998  115.430000  21645000.0
 2018-11-01  117.000000  115.110001  115.500000  116.830002  13626700.0
 2018-11-02  117.750000  114.540001  117.510002  115.669998  10592700.0
 2018-11-05  120.769997  116.000000  116.099998  120.059998   9144600.0
 2018-11-06  123.809998  120.309998  120.699997  123.120003   9597400.0
 2018-11-07  125.059998  122.330002  123.790001  124.839996  12382700.0
 2018-11-08  124.400002  122.629997  122.660004  123.379997  10396400.0
 2018-11-09  124.570000  121.959999  123.610001  123.540001   6961800.0
 2018-11-12  123.570000  120.650002  123.500000  120.900002   5379100.0
 2018-11-13  122.250000  119.900002  121.190002  120.839996   4084400.0
 2018-11-14  121.930000  119.769997  121.110001  120.199997   4762300.0
 2018-11-15  121.440002  119.510002  119.660004  121.440002   5207900.0
 2018-11-16  121.849998  120.540001  120.889999  121.570000   4076300.0
 2018-11-19  122.180000  119.769997  121.629997  120.309998   4131200.0
 2018-11-20  119.489998  116.699997  118.489998  117.199997   6233800.0
 2018-11-21  119.510002  117.389999  117.610001  118.570000   5335800.0
 2018-11-23  118.339996  116.910004  118.089996  117.190002   2334700.0
 2018-11-26  120.250000  118.059998  118.370003  119.559998   5011100.0
 2018-11-27  120.040001  118.370003  118.379997  120.029999   4903800.0
 2018-11-28  123.089996  120.220001  121.010002  123.000000   5104500.0
 2018-11-29  123.120003  121.400002  122.440002  121.480003   5200100.0
 2018-11-30  124.690002  121.480003  121.660004  124.269997   7251600.0
 2018-12-03  126.589996  124.360001  125.669998  125.309998   5764600.0

              Adj Close
 Date
 2009-12-31  100.460022
 2010-01-04  101.649574
 2010-01-05  100.421654
 2010-01-06   99.769310
 2010-01-07   99.423950
 2010-01-08  100.421654
 2010-01-11   99.370209
 2010-01-12  100.160728
 2010-01-13   99.945816
 2010-01-14  101.542137
 2010-01-15  101.135361
 2010-01-19  102.946564
 2010-01-20   99.961174
 2010-01-21   99.001846
 2010-01-22   96.315765
 2010-01-25   96.791580
 2010-01-26   96.507637
 2010-01-27   96.952751
 2010-01-28   94.972717
 2010-01-29   93.928993
 2010-02-01   95.678764
 2010-02-02   96.338768
 2010-02-03   96.438553
 2010-02-04   94.397118
 2010-02-05   94.796196
 2010-02-08   93.955933
 2010-02-09   94.981209
 2010-02-10   94.672852
 2010-02-11   95.382065
 2010-02-12   95.590210
 ...                ...
 2018-10-22  128.384857
 2018-10-23  129.559891
 2018-10-24  125.610191
 2018-10-25  124.859749
 2018-10-26  123.220627
 2018-10-29  118.135391
 2018-10-30  113.948723
 2018-10-31  113.978340
 2018-11-01  115.360733
 2018-11-02  114.215317
 2018-11-05  118.550110
 2018-11-06  121.571632
 2018-11-07  123.269997
 2018-11-08  123.379997
 2018-11-09  123.540001
 2018-11-12  120.900002
 2018-11-13  120.839996
 2018-11-14  120.199997
 2018-11-15  121.440002
 2018-11-16  121.570000
 2018-11-19  120.309998
 2018-11-20  117.199997
 2018-11-21  118.570000
 2018-11-23  117.190002
 2018-11-26  119.559998
 2018-11-27  120.029999
 2018-11-28  123.000000
 2018-11-29  121.480003
 2018-11-30  124.269997
 2018-12-03  125.309998

 [2247 rows x 6 columns],
 'MSFT':                   High         Low        Open       Close       Volume  \
 Date
 2009-12-31   30.990000   30.480000   30.980000   30.480000   31929700.0
 2010-01-04   31.100000   30.590000   30.620001   30.950001   38409100.0
 2010-01-05   31.100000   30.639999   30.850000   30.959999   49749600.0
 2010-01-06   31.080000   30.520000   30.879999   30.770000   58182400.0
 2010-01-07   30.700001   30.190001   30.629999   30.450001   50559700.0
 2010-01-08   30.879999   30.240000   30.280001   30.660000   51197400.0
 2010-01-11   30.760000   30.120001   30.709999   30.270000   68754700.0
 2010-01-12   30.400000   29.910000   30.150000   30.070000   65912100.0
 2010-01-13   30.520000   30.010000   30.260000   30.350000   51863500.0
 2010-01-14   31.100000   30.260000   30.309999   30.959999   63228100.0
 2010-01-15   31.240000   30.709999   31.080000   30.860001   79913200.0
 2010-01-19   31.240000   30.680000   30.750000   31.100000   46575700.0
 2010-01-20   30.940001   30.309999   30.809999   30.590000   54849500.0
 2010-01-21   30.719999   30.000000   30.610001   30.010000   73086700.0
 2010-01-22   30.200001   28.840000   30.000000   28.959999  102004600.0
 2010-01-25   29.660000   29.100000   29.240000   29.320000   63373000.0
 2010-01-26   29.850000   29.090000   29.200001   29.500000   66639900.0
 2010-01-27   29.820000   29.020000   29.350000   29.670000   63949500.0
 2010-01-28   29.870001   28.889999   29.840000   29.160000  117513700.0
 2010-01-29   29.920000   27.660000   29.900000   28.180000  193888500.0

In [24]:
price = pd.DataFrame({ticker:data['Adj Close'] for ticker,data in all_data.items()})

In [28]:
price

                  AAPL         GOOG         IBM        MSFT
Date
2009-12-31   20.159719   307.986847  100.460022   24.345514
2010-01-04   20.473503   311.349976  101.649574   24.720928
2010-01-05   20.508902   309.978882  100.421654   24.728914
2010-01-06   20.182680   302.164703   99.769310   24.577150
2010-01-07   20.145369   295.130463   99.423950   24.321552
2010-01-08   20.279305   299.064880  100.421654   24.489288
2010-01-11   20.100410   298.612823   99.370209   24.177786
2010-01-12   19.871763   293.332153  100.160728   24.018032
2010-01-13   20.152065   291.648102   99.945816   24.241684
2010-01-14   20.035355   293.019196  101.542137   24.728914
2010-01-15   19.700523   288.126007  101.135361   24.649038
2010-01-19   20.572037   291.911407  102.946564   24.840738
2010-01-20   20.255390   288.329681   99.961174   24.433378
2010-01-21   19.905249   289.606384   99.001846   23.970112
2010-01-22   18.917973   273.227905   96.315765   23.131437
2010-01-25   19.426920   268.255249   96.791580   23.418983
2010-01-26   19.701479   269.457428   96.507637   23.562756
2010-01-27   19.887072   269.298462   96.952751   23.698549
2010-01-28   19.065300   265.418701   94.972717   23.291180
2010-01-29   18.373636   263.257751   93.928993   22.508421
2010-02-01   18.629066   264.787811   95.678764   22.692129
2010-02-02   18.737165   263.843964   96.338768   22.732069
2010-02-03   19.059557   268.662598   96.438553   22.867855
2010-02-04   18.372683   261.687958   94.397118   22.236853
2010-02-05   18.698900   263.928406   94.796196   22.380629
2010-02-08   18.570709   265.011353   93.955933   22.141001
2010-02-09   18.768732   266.486755   94.981209   22.372641
2010-02-10   18.666370   265.498199   94.672852   22.356657
2010-02-11   19.005989   266.466888   95.382065   22.460506
2010-02-12   19.169575   264.837494   95.590210   22.308741
...                ...          ...         ...         ...
2018-10-22  219.882782  1101.160034  128.384857  109.158424
2018-10-23  221.955551  1103.689941  129.559891  107.635010
2018-10-24  214.342117  1050.709961  125.610191  101.879875
2018-10-25  219.035751  1095.569946  124.859749  107.834152
2018-10-26  215.547913  1071.469971  123.220627  106.499908
2018-10-29  211.502045  1020.080017  118.135391  103.403290
2018-10-30  212.558350  1036.209961  113.948723  103.283813
2018-10-31  218.099014  1076.770020  113.978340  106.350555
2018-11-01  221.447327  1070.000000  115.360733  105.464386
2018-11-02  206.758575  1057.790039  114.215317  105.703354
2018-11-05  200.889053  1040.089966  118.550110  107.047546
2018-11-06  203.061493  1055.810059  121.571632  107.256645
2018-11-07  209.219986  1093.390015  123.269997  111.478401
2018-11-08  208.490005  1082.400024  123.379997  111.269310
2018-11-09  204.470001  1066.150024  123.540001  109.098686
2018-11-12  194.169998  1038.630005  120.900002  106.410301
2018-11-13  192.229996  1036.050049  120.839996  106.480003
2018-11-14  186.800003  1043.660034  120.199997  104.970001
2018-11-15  191.410004  1064.709961  121.440002  107.279999
2018-11-16  193.529999  1061.489990  121.570000  108.290001
2018-11-19  185.860001  1020.000000  120.309998  104.620003
2018-11-20  176.979996  1025.760010  117.199997  101.709999
2018-11-21  176.779999  1037.609985  118.570000  103.110001
2018-11-23  172.289993  1023.880005  117.190002  103.070000
2018-11-26  174.619995  1048.619995  119.559998  106.470001
2018-11-27  174.240005  1044.410034  120.029999  107.139999
2018-11-28  180.940002  1086.229980  123.000000  111.120003
2018-11-29  179.550003  1088.300049  121.480003  110.190002
2018-11-30  178.580002  1094.430054  124.269997  110.889999
2018-12-03  184.820007  1106.430054  125.309998  112.089996

[2247 rows x 4 columns]

In [26]:
volume = pd.DataFrame({ticker:data['Volume'] for ticker,data in all_data.items()})

In [29]:
volume

                   AAPL        GOOG         IBM         MSFT
Date
2009-12-31   88102700.0   2455400.0   4223400.0   31929700.0
2010-01-04  123432400.0   3937800.0   6155300.0   38409100.0
2010-01-05  150476200.0   6048500.0   6841400.0   49749600.0
2010-01-06  138040000.0   8009000.0   5605300.0   58182400.0
2010-01-07  119282800.0  12912000.0   5840600.0   50559700.0
2010-01-08  111902700.0   9509900.0   4197200.0   51197400.0
2010-01-11  115557400.0  14519600.0   5730400.0   68754700.0
2010-01-12  148614900.0   9769600.0   8081500.0   65912100.0
2010-01-13  151473000.0  13077600.0   6455400.0   51863500.0
2010-01-14  108223500.0   8535300.0   7111800.0   63228100.0
2010-01-15  148516900.0  10939600.0   8494400.0   79913200.0
2010-01-19  182501900.0   8689500.0  13916200.0   46575700.0
2010-01-20  153038200.0   6543600.0  15197500.0   54849500.0
2010-01-21  152038600.0  12697400.0   9608600.0   73086700.0
2010-01-22  220441900.0  13689200.0  10088600.0  102004600.0
2010-01-25  266424900.0   8897200.0   5738500.0   63373000.0
2010-01-26  466777500.0   8767600.0   7135300.0   66639900.0
2010-01-27  430642100.0   7980200.0   8719200.0   63949500.0
2010-01-28  293375600.0   6500100.0   9622200.0  117513700.0
2010-01-29  311488100.0   8334700.0  11571200.0  193888500.0
2010-02-01  187469100.0   4530800.0   7242900.0   85931100.0
2010-02-02  174585600.0   8245600.0   5899900.0   54413700.0
2010-02-03  153832000.0   6037000.0   4177100.0   61397900.0
2010-02-04  189413000.0   6799200.0   9126900.0   77850000.0
2010-02-05  212576700.0   6353000.0   8617000.0   80960100.0
2010-02-08  119567700.0   5423500.0   5718500.0   52820600.0
2010-02-09  158221700.0   5675700.0   6044500.0   59195800.0
2010-02-10   92590400.0   5383700.0   5219100.0   48591300.0
2010-02-11  137586400.0   4851300.0   5089000.0   65993700.0
2010-02-12  163867200.0   4589000.0   8017700.0   81117200.0
...                 ...         ...         ...          ...
2018-10-22   28792100.0   1514200.0   5719500.0   26545600.0
2018-10-23   38767800.0   1848700.0   6463600.0   43770400.0
2018-10-24   40925500.0   1982400.0   5710300.0   63897800.0
2018-10-25   29855800.0   2545800.0  10304300.0   61646800.0
2018-10-26   47258400.0   4187600.0   8767000.0   55523100.0
2018-10-29   45935500.0   3880700.0  20450400.0   55162000.0
2018-10-30   36660000.0   3212700.0  21458600.0   65350900.0
2018-10-31   38358900.0   2529800.0  21645000.0   51062400.0
2018-11-01   58323200.0   1482000.0  13626700.0   33384200.0
2018-11-02   91328700.0   1839000.0  10592700.0   37680200.0
2018-11-05   66163700.0   2441400.0   9144600.0   27922100.0
2018-11-06   31882900.0   1233300.0   9597400.0   24340200.0
2018-11-07   33424400.0   2058400.0  12382700.0   37901700.0
2018-11-08   25362600.0   1488200.0  10396400.0   25644100.0
2018-11-09   34365800.0   1343200.0   6961800.0   32039200.0
2018-11-12   51135500.0   1471800.0   5379100.0   33621800.0
2018-11-13   46882900.0   1513700.0   4084400.0   35374600.0
2018-11-14   60801000.0   1565900.0   4762300.0   39495100.0
2018-11-15   46478800.0   1836100.0   5207900.0   38505200.0
2018-11-16   36928300.0   1658100.0   4076300.0   33502100.0
2018-11-19   41925300.0   1858600.0   4131200.0   44773900.0
2018-11-20   67825200.0   2449100.0   6233800.0   64052500.0
2018-11-21   31124200.0   1534300.0   5335800.0   28130600.0
2018-11-23   23624000.0    691500.0   2334700.0   13823100.0
2018-11-26   44998500.0   1942800.0   5011100.0   32295500.0
2018-11-27   41387400.0   1803200.0   4903800.0   29124500.0
2018-11-28   46062500.0   2475400.0   5104500.0   46788500.0
2018-11-29   41770000.0   1468900.0   5200100.0   28123200.0
2018-11-30   39531500.0   2580200.0   7251600.0   33665600.0
2018-12-03   40653600.0   1926400.0   5764600.0   34342100.0

[2247 rows x 4 columns]

In [30]:
returns = price.pct_change()

In [32]:
returns

                AAPL      GOOG       IBM      MSFT
Date
2009-12-31       NaN       NaN       NaN       NaN
2010-01-04  0.015565  0.010920  0.011841  0.015420
2010-01-05  0.001729 -0.004404 -0.012080  0.000323
2010-01-06 -0.015906 -0.025209 -0.006496 -0.006137
2010-01-07 -0.001849 -0.023279 -0.003462 -0.010400
2010-01-08  0.006648  0.013331  0.010035  0.006897
2010-01-11 -0.008822 -0.001512 -0.010470 -0.012720
2010-01-12 -0.011375 -0.017684  0.007955 -0.006607
2010-01-13  0.014106 -0.005741 -0.002146  0.009312
2010-01-14 -0.005791  0.004701  0.015972  0.020099
2010-01-15 -0.016712 -0.016699 -0.004006 -0.003230
2010-01-19  0.044238  0.013138  0.017909  0.007777
2010-01-20 -0.015392 -0.012270 -0.028999 -0.016399
2010-01-21 -0.017286  0.004428 -0.009597 -0.018960
2010-01-22 -0.049599 -0.056554 -0.027132 -0.034988
2010-01-25  0.026903 -0.018200  0.004940  0.012431
2010-01-26  0.014133  0.004481 -0.002934  0.006139
2010-01-27  0.009420 -0.000590  0.004612  0.005763
2010-01-28 -0.041322 -0.014407 -0.020423 -0.017190
2010-01-29 -0.036279 -0.008142 -0.010990 -0.033608
2010-02-01  0.013902  0.005812  0.018629  0.008162
2010-02-02  0.005803 -0.003565  0.006898  0.001760
2010-02-03  0.017206  0.018263  0.001036  0.005973
2010-02-04 -0.036038 -0.025961 -0.021168 -0.027593
2010-02-05  0.017756  0.008562  0.004228  0.006466
2010-02-08 -0.006856  0.004103 -0.008864 -0.010707
2010-02-09  0.010663  0.005567  0.010912  0.010462
2010-02-10 -0.005454 -0.003710 -0.003247 -0.000714
2010-02-11  0.018194  0.003649  0.007491  0.004645
2010-02-12  0.008607 -0.006115  0.002182 -0.006757
...              ...       ...       ...       ...
2018-10-22  0.006110  0.004287  0.007126  0.008927
2018-10-23  0.009427  0.002297  0.009152 -0.013956
2018-10-24 -0.034302 -0.048003 -0.030486 -0.053469
2018-10-25  0.021898  0.042695 -0.005974  0.058444
2018-10-26 -0.015924 -0.021998 -0.013128 -0.012373
2018-10-29 -0.018770 -0.047962 -0.041269 -0.029076
2018-10-30  0.004994  0.015812 -0.035440 -0.001155
2018-10-31  0.026067  0.039143  0.000260  0.029692
2018-11-01  0.015352 -0.006287  0.012129 -0.008333
2018-11-02 -0.066331 -0.011411 -0.009929  0.002266
2018-11-05 -0.028388 -0.016733  0.037953  0.012717
2018-11-06  0.010814  0.015114  0.025487  0.001953
2018-11-07  0.030328  0.035593  0.013970  0.039361
2018-11-08 -0.003489 -0.010051  0.000892 -0.001876
2018-11-09 -0.019282 -0.015013  0.001297 -0.019508
2018-11-12 -0.050374 -0.025813 -0.021370 -0.024642
2018-11-13 -0.009991 -0.002484 -0.000496  0.000655
2018-11-14 -0.028247  0.007345 -0.005296 -0.014181
2018-11-15  0.024679  0.020169  0.010316  0.022006
2018-11-16  0.011076 -0.003024  0.001070  0.009415
2018-11-19 -0.039632 -0.039087 -0.010364 -0.033890
2018-11-20 -0.047778  0.005647 -0.025850 -0.027815
2018-11-21 -0.001130  0.011552  0.011689  0.013765
2018-11-23 -0.025399 -0.013232 -0.011639 -0.000388
2018-11-26  0.013524  0.024163  0.020224  0.032987
2018-11-27 -0.002176 -0.004015  0.003931  0.006293
2018-11-28  0.038453  0.040042  0.024744  0.037148
2018-11-29 -0.007682  0.001906 -0.012358 -0.008369
2018-11-30 -0.005402  0.005633  0.022967  0.006353
2018-12-03  0.034942  0.010965  0.008369  0.010822

[2247 rows x 4 columns]

In [33]:
returns.tail()

                AAPL      GOOG       IBM      MSFT
Date
2018-11-27 -0.002176 -0.004015  0.003931  0.006293
2018-11-28  0.038453  0.040042  0.024744  0.037148
2018-11-29 -0.007682  0.001906 -0.012358 -0.008369
2018-11-30 -0.005402  0.005633  0.022967  0.006353
2018-12-03  0.034942  0.010965  0.008369  0.010822

In [34]:
returns['MSFT'].corr(returns['IBM'])

0.4765022867751824

In [35]:
returns['MSFT'].cov(returns['IBM'])

8.31956221885833e-05

In [36]:
returns.MSFT.cov(returns.IBM)

8.31956221885833e-05

In [37]:
returns.corr()

          AAPL      GOOG       IBM      MSFT
AAPL  1.000000  0.441741  0.362607  0.429771
GOOG  0.441741  1.000000  0.398782  0.525117
IBM   0.362607  0.398782  1.000000  0.476502
MSFT  0.429771  0.525117  0.476502  1.000000

In [39]:
returns.cov()

          AAPL      GOOG       IBM      MSFT
AAPL  0.000262  0.000110  0.000071  0.000100
GOOG  0.000110  0.000235  0.000074  0.000116
IBM   0.000071  0.000074  0.000148  0.000083
MSFT  0.000100  0.000116  0.000083  0.000206

In [40]:
returns.corrwith(returns.IBM)

AAPL    0.362607
GOOG    0.398782
IBM     1.000000
MSFT    0.476502
dtype: float64

In [41]:
volume

                   AAPL        GOOG         IBM         MSFT
Date
2009-12-31   88102700.0   2455400.0   4223400.0   31929700.0
2010-01-04  123432400.0   3937800.0   6155300.0   38409100.0
2010-01-05  150476200.0   6048500.0   6841400.0   49749600.0
2010-01-06  138040000.0   8009000.0   5605300.0   58182400.0
2010-01-07  119282800.0  12912000.0   5840600.0   50559700.0
2010-01-08  111902700.0   9509900.0   4197200.0   51197400.0
2010-01-11  115557400.0  14519600.0   5730400.0   68754700.0
2010-01-12  148614900.0   9769600.0   8081500.0   65912100.0
2010-01-13  151473000.0  13077600.0   6455400.0   51863500.0
2010-01-14  108223500.0   8535300.0   7111800.0   63228100.0
2010-01-15  148516900.0  10939600.0   8494400.0   79913200.0
2010-01-19  182501900.0   8689500.0  13916200.0   46575700.0
2010-01-20  153038200.0   6543600.0  15197500.0   54849500.0
2010-01-21  152038600.0  12697400.0   9608600.0   73086700.0
2010-01-22  220441900.0  13689200.0  10088600.0  102004600.0
2010-01-25  266424900.0   8897200.0   5738500.0   63373000.0
2010-01-26  466777500.0   8767600.0   7135300.0   66639900.0
2010-01-27  430642100.0   7980200.0   8719200.0   63949500.0
2010-01-28  293375600.0   6500100.0   9622200.0  117513700.0
2010-01-29  311488100.0   8334700.0  11571200.0  193888500.0
2010-02-01  187469100.0   4530800.0   7242900.0   85931100.0
2010-02-02  174585600.0   8245600.0   5899900.0   54413700.0
2010-02-03  153832000.0   6037000.0   4177100.0   61397900.0
2010-02-04  189413000.0   6799200.0   9126900.0   77850000.0
2010-02-05  212576700.0   6353000.0   8617000.0   80960100.0
2010-02-08  119567700.0   5423500.0   5718500.0   52820600.0
2010-02-09  158221700.0   5675700.0   6044500.0   59195800.0
2010-02-10   92590400.0   5383700.0   5219100.0   48591300.0
2010-02-11  137586400.0   4851300.0   5089000.0   65993700.0
2010-02-12  163867200.0   4589000.0   8017700.0   81117200.0
...                 ...         ...         ...          ...
2018-10-22   28792100.0   1514200.0   5719500.0   26545600.0
2018-10-23   38767800.0   1848700.0   6463600.0   43770400.0
2018-10-24   40925500.0   1982400.0   5710300.0   63897800.0
2018-10-25   29855800.0   2545800.0  10304300.0   61646800.0
2018-10-26   47258400.0   4187600.0   8767000.0   55523100.0
2018-10-29   45935500.0   3880700.0  20450400.0   55162000.0
2018-10-30   36660000.0   3212700.0  21458600.0   65350900.0
2018-10-31   38358900.0   2529800.0  21645000.0   51062400.0
2018-11-01   58323200.0   1482000.0  13626700.0   33384200.0
2018-11-02   91328700.0   1839000.0  10592700.0   37680200.0
2018-11-05   66163700.0   2441400.0   9144600.0   27922100.0
2018-11-06   31882900.0   1233300.0   9597400.0   24340200.0
2018-11-07   33424400.0   2058400.0  12382700.0   37901700.0
2018-11-08   25362600.0   1488200.0  10396400.0   25644100.0
2018-11-09   34365800.0   1343200.0   6961800.0   32039200.0
2018-11-12   51135500.0   1471800.0   5379100.0   33621800.0
2018-11-13   46882900.0   1513700.0   4084400.0   35374600.0
2018-11-14   60801000.0   1565900.0   4762300.0   39495100.0
2018-11-15   46478800.0   1836100.0   5207900.0   38505200.0
2018-11-16   36928300.0   1658100.0   4076300.0   33502100.0
2018-11-19   41925300.0   1858600.0   4131200.0   44773900.0
2018-11-20   67825200.0   2449100.0   6233800.0   64052500.0
2018-11-21   31124200.0   1534300.0   5335800.0   28130600.0
2018-11-23   23624000.0    691500.0   2334700.0   13823100.0
2018-11-26   44998500.0   1942800.0   5011100.0   32295500.0
2018-11-27   41387400.0   1803200.0   4903800.0   29124500.0
2018-11-28   46062500.0   2475400.0   5104500.0   46788500.0
2018-11-29   41770000.0   1468900.0   5200100.0   28123200.0
2018-11-30   39531500.0   2580200.0   7251600.0   33665600.0
2018-12-03   40653600.0   1926400.0   5764600.0   34342100.0

[2247 rows x 4 columns]

In [42]:
returns.corrwith(volume)

AAPL   -0.061265
GOOG   -0.017032
IBM    -0.176387
MSFT   -0.087367
dtype: float64

### 惟一值，计数和成员属性

#### 惟一值

In [44]:
obj2 = pd.Series(list('cadaabbcc'))

In [45]:
obj2

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

In [47]:
obj2.unique()

array(['c', 'a', 'd', 'b'], dtype=object)

计数：

In [48]:
obj2.value_counts()

c    3
a    3
b    2
d    1
dtype: int64

In [52]:
pd.value_counts(obj2.values,sort=False)

a    3
d    1
b    2
c    3
dtype: int64

成员属性检查

In [53]:
obj2

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

In [55]:
mask = obj2.isin(['b','c'])

In [56]:
mask

0     True
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool

In [58]:
obj2[mask]

0    c
5    b
6    b
7    c
8    c
dtype: object

非唯一数组转换为唯一数组

In [60]:
to_match = pd.Series(list('cabbca'))

In [61]:
unique_vals = pd.Series(list('cba'))

In [62]:
pd.Index(unique_vals).get_indexer(to_match)

array([0, 2, 1, 1, 0, 2], dtype=int32)

直方图

In [63]:
data = pd.DataFrame({
    'Qu1':[1,3,4,3,4],
    'Qu2':[2,3,1,2,3],
    'Qu3':[1,5,2,4,4]
})

In [64]:
data

   Qu1  Qu2  Qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    3    2    4
4    4    3    4

In [65]:
result = data.apply(pd.value_counts).fillna(0)

In [66]:
result

   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0

行标签：每列出现的不同值

列：这些值在每个列中出现的次数